body {
    padding-top: 56px;
    margin: 0 auto;
    max-width: 980px;
}

.navbar-brand img {
    max-height: 35px;
    padding-right: 105px;
}

main {
    display: flex;
}

main aside {
    min-width: 40%;
}

aside img {
    display: block;
    width: 100%;
}

@media screen and (max-width: 720px) {
    aside {
        display: flex;
        flex-wrap: wrap;
    }

    aside div {
        flex-basis: 50%;
    }

    main {
        flex-wrap: wrap;
    }

    main article {
        order: 1;
    }

    main nav {
        order: 3;
    }

    main aside {
        order: 2;
    }
}
