
body {
  padding-top: 56px;
  margin: 0 auto;
  max-width: 980px;
}

.navbar-brand img {
  max-height: 35px;
  padding-right: 105px;
}

.portfolio-item {
  margin-bottom: 30px;
}

.description {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.row {
  padding-left: 5px;
}
