body {
    padding-top: 56px;
    margin: 0 auto;

}


.navbar-brand img {
    max-height: 35px;
    padding-right: 105px;
}

.description {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) .description {
    flex: 0 0 50%;
    max-width: 100%;
}



.portfolio-item {
    margin-bottom: 30px;
}

.container h3 {
    margin-top: 40px;
}

.container {
    display: block;
}

li.nav-item a {

    color: black;
}

.card {
    width: 400px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding-left: 10px;
}

@media (min-width: 250px) and (max-width: 599px) {
    .product-list {
        grid-gap: 5px;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 600px) {
    .product-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 800px) {
    .product-list {

        grid-template-columns: 1fr 1fr 1fr;
    }
}

h2{
    padding-left: 10px ;
}
hr {
    padding: 2px;
    length: 1000px ;
}
