
.arrow {
  padding: 0;
  font-size: 24px;
  line-height: 24px;

  display: block;
}

.arrow:focus {
  outline: none;
}

.arrow:hover {
 
  cursor: pointer;
}

ul {
  position: relative;
  height: 170px;
  width: 350px;
  margin: 0;
  padding: 0;
  list-style: none;
  ;
  overflow: hidden;
  text-overflow: clip;
  font-size: 0;
}

ul img {
  width: 350px;
  height: 170px;
  box-sizing: border-box;
  display: block;
}

ul li {
  position: relative;
  left: 0px;
  transition-duration: 0.2s;
  transition-property: left;
  transition-timing-function: ease;
  display: inline-block;
}

#carousel { 
  padding: 5px 5px;
  white-space: nowrap;
  background-color: white;
  display: inline-block;
}

#carousel span {
  display: inline-block;
  vertical-align: middle;
}